.global-product-statistics {
  border-collapse: separate;

  &__table {
    padding: 5px 10px;
    border: 1px solid #ddd;
  }

  &__center {
    display: flex;
    justify-content: center;
  }

  &__fit-width {
    width: max-content;
  }

  &__split {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__name {
    color: var(--title-color);
    transition: all 0.3s;

    &:hover {
      text-decoration: overline 2px;
      color: var(--first-color);
      transition: all 0.3s;
      cursor: pointer;
    }
  }
}
