POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=student
POSTGRES_PASSWORD=student
POSTGRES_DB=shop_db
PGDATA=/data/postgres

JWT_KEY=jwt_secret
JWT_TTL=7d

JWT_ACCESS_SECRET=access-secret
JWT_REFRESH_SECRET=refresh-secret
 
YANDEX_CLIENT_ID=0236616fe6874009a8868ba166bad6ad
YANDEX_CLIENT_SECRET=e695b0ce7ee84949a67296bb96d8391f
YANDEX_REDIRECT_URI=http://localhost:3000/oauth/callback

GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_SECRET=GOOGLE_SECRET
GOOGLE_REDIRECT_URI=GOOGLE_SECRET

ADMIN_EMAIL=some_email
ADMIN_EMAIL_SECONDARY=some_email