.review-filter {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 70px;

  &__item {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  &__rate {
    &:hover {
      cursor: pointer;
    }
  }
}
