.cart {
  &-item {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;

    &__info {
      margin: auto 0px;
    }
  }

  &__buttons {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &-button {
    background-color: var(--first-color);
    color: #fff;
    font-weight: var(--font-medium);
    border-radius: 50%;
    padding: 5px 11px;
    margin: 15px;

    &-fixed {
      width: 20%;
    }
  }

  &__total {
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 20px;

    &_sum {
      font-weight: 600;
      padding: 15px 0;
      font-size: 24px;

      span {
        margin-left: 10%;
      }
    }
  }

  &__toggle-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }
}
